<h2>Tasks</h2>
<div>
  <h2>Incomplete</h2> <!-- TODO move into own component -->
  <div *ngIf="getTasks().length > 0; else noTasks">
    <app-task *ngFor="let task of getTasks()">
      <span due>{{ task.due | date }}</span>
      <span priority>{{ task.priority | titlecase }}</span>
      <span description>{{ task.description }}</span>
      <span actions>
          <a mat-flat-button color="primary" href="#" (click)="completeTask(task.id)">Mark as Complete</a>
          <a mat-button color="warn" href="#" (click)="removeTask(task.id)">Remove</a>
        </span>
    </app-task>
  </div>
</div>
<div>
  <h2>Complete</h2> <!-- TODO move into own component -->
  <div *ngIf="getTasks(true).length > 0; else noTasks">
    <app-task *ngFor="let task of getTasks(true)">
      <span due>{{ task.due | date }}</span>
      <span priority>{{ task.priority | titlecase }}</span>
      <span description>{{ task.description }}</span>
      <span actions>
          <a mat-flat-button color="accent" href="#" (click)="incompleteTask(task.id)">Mark as Incomplete</a>
          <a mat-button color="warn" href="#" (click)="removeTask(task.id)">Remove</a>
        </span>
    </app-task>
  </div>
</div>

<ng-template #noTasks>
  <div>
    <p>No tasks to display!</p>
  </div>
</ng-template>

