<h2>Tasks</h2>
<div class="row">
  <div class="col-md-6">
    <h3>Incomplete</h3> <!-- TODO move into own component -->
    <div *ngIf="getTasks().length > 0; else noTasks">
      <app-task *ngFor="let task of getTasks()">
        <span due>{{ task.due | date }}</span>
        <span priority>{{ task.priority | titlecase }}</span>
        <span description>{{ task.description }}</span>
        <span actions>
          <a href="#" class="btn btn-success btn-sm me-1" (click)="completeTask(task.id)">Mark as Complete</a>
          <a href="#" class="btn btn-danger btn-sm" (click)="removeTask(task.id)">Remove</a>
        </span>
      </app-task>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Complete</h3> <!-- TODO move into own component -->
    <div *ngIf="getTasks(true).length > 0; else noTasks">
      <app-task *ngFor="let task of getTasks(true)">
        <span due>{{ task.due | date }}</span>
        <span priority>{{ task.priority | titlecase }}</span>
        <span description>{{ task.description }}</span>
        <span actions>
          <a href="#" class="btn btn-warning btn-sm me-1" (click)="incompleteTask(task.id)">Mark as Incomplete</a>
          <a href="#" class="btn btn-danger btn-sm" (click)="removeTask(task.id)">Remove</a>
        </span>
      </app-task>
    </div>
  </div>
</div>

<ng-template #noTasks>
  <div>
    <p>No tasks to display!</p>
  </div>
</ng-template>

