<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <small *ngIf="description?.errors?.['required']">
      Description is required.
    </small>
    <small *ngIf="description?.errors?.['minlength']">
      Min 5 characters required.
    </small>
  </div>
  <div>
    <mat-label>Priority</mat-label>
    <mat-radio-group formControlName="priority">
      <mat-radio-button value="low">Low</mat-radio-button>
      <mat-radio-button value="medium">Medium</mat-radio-button>
      <mat-radio-button value="high">High</mat-radio-button>
    </mat-radio-group>
    <small class="text-danger" *ngIf="priority?.errors?.['required']">
      Priority is required.
    </small>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Due</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="due">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <small class="text-danger" *ngIf="due?.errors?.['required']">
      Due date is required.
    </small>
    <small class="text-danger" *ngIf="due?.errors?.['duePastDate']">
      Due date has to be in the future.
    </small>
    </div>
  <div>
    <button mat-flat-button color="primary" type="submit" [disabled]="!taskForm.valid">Add</button>
  </div>
</form>
