<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description">
    <small class="text-danger" *ngIf="description?.errors?.['required']">
      Description is required.
    </small>
    <small class="text-danger" *ngIf="description?.errors?.['minlength']">
      Min 5 characters required.
    </small>
  </div>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="priority" id="inlineRadio1" value="low" formControlName="priority" checked>
      <label class="form-check-label" for="inlineRadio1">Low</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="priority" id="inlineRadio2" formControlName="priority" value="medium">
      <label class="form-check-label" for="inlineRadio2">Medium</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="priority" id="inlineRadio3" formControlName="priority" value="high">
      <label class="form-check-label" for="inlineRadio3">High</label>
    </div>
    <small class="text-danger" *ngIf="priority?.errors?.['required']">
      Priority is required.
    </small>
  </div>
  <div class="mb-3">
    <label for="due" class="form-label">Due</label>
    <input type="date" class="form-control" id="due" formControlName="due">
    <small class="text-danger" *ngIf="due?.errors?.['required']">
      Due date is required.
    </small>
    <small class="text-danger" *ngIf="due?.errors?.['duePastDate']">
      Due date has to be in the future.
    </small>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!taskForm.valid">Add</button>
</form>
